body {
    font-family: Helvetica, "Helvetica Neue";
    background-color: #D2E0E6;

}
ul, ol {
    margin: 0;
}
.body {
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 40px;
}


.columns > div {
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    float: left;
}

.item {
    cursor: pointer;
    background: #D2E0E6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    list-style: none;
}
.item span {
    display: inline-block;
    padding: 5px 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.calendar {
    text-align: center;
}
.calendar .items {
    display: inline-block; /* for center alignment */
}
.calendar .item {
    float: left;
}

.clickable:hover,
.item.active {
    background: black;
    color: white;
}

.title {
    width: 250px;
}


