{% raw %}
{{#view App.ActiveMenuView id="active-menu"}}
    <h1>{{menu.dueDateString}}</h1>
    {{#with menu }}
    <ul>
        {{#each items}}
        <li>
            {{title}}
        </li>
        {{/each}}
    </ul>
    {{/with}}
{{/view}}
{% endraw %}