{% raw %}
{{#view App.MenuView id="active-menu"}}
    <h1>{{activeMenu.dueDateString}}</h1>
    <ul>
    {{#each activeMenu.items}}
    <li>
        {{title}}
    </li>
    {{/each}}
    </ul>

{{/view}}
{% endraw %}