{% extends 'LTDeliveryBundle::layout.html.twig' %}

{% block body %}
<script type="text/x-handlebars">

    <div class="section clear-float">
        <div class="col">
            {% include 'LTDeliveryBundle:Default:menu.html.handlebars' %}
        </div>
        <div class="col">
            {% include 'LTDeliveryBundle:Default:order.html.handlebars' %}
        </div>
    </div>


    {% include 'LTDeliveryBundle:Default:calendar.html.handlebars' %}

</script>
{% endblock %}