{% extends 'LTDeliveryBundle::layout.html.twig' %}

{% block body %}
{% raw %}
<script type="text/x-handlebars">

{{#view App.MenuView}}
    <h1>Menu</h1>
    {{#each menus}}
        <li>{{due_date}}</li>
    {{/each}}
    <h1>Menu items</h1>
    {{#each items}}
        <li>{{title}}</li>
    {{/each}}
{{/view}}

</script>
{% endraw %}
{% endblock %}