{% extends 'LTDeliveryBundle::layout.html.twig' %}

{% block app %}
{{ parent() }}
<script type="text/javascript">
    LT.config.menus = {{ menus | serialize('json') | raw }};
    LT.config.orders = {{ orders | serialize('json') | raw }};

    LT.config.orderBaseUrl = "{{ path('orderBaseUrl') }}";
</script>
{% endblock %}

{% block body %}


<div class="calendar">
    <h3>Calendar</h3>
    <ul class="items clearfix" data-bind="foreach: menus">
        <li class="item clickable" data-bind="click: $root.activateMenu, css: {active: $root.isActiveMenu($data)}">
            <span data-bind="text: title"></span>
        </li>
    </ul>
</div>


<div class="columns clearfix">
    <div class="active-menu" data-bind="with: activeMenu">
        <h3>Menu for <span data-bind="text: title"></span></h3>

        <ul class="items" data-bind="foreach: items">
            <li class="item clickable" data-bind="click: $root.addToActiveOrder">
                <span class="title" data-bind="text: title"></span>
                <span data-bind="text: price"></span>
            </li>
        </ul>
    </div>

    <div class="active-order" data-bind="with: activeOrder">
        <h3>Your order for <span data-bind="text: title"></span></h3>
        <ul class="items" data-bind="foreach: activeItems">
            <li class="item">
                <span class="title" data-bind="text: title"></span>
                <span data-bind="text: amount"></span>
                <span class="clickable" data-bind="click: $root.removeFromOrder">-1</span>
                <span class="clickable" data-bind="click: $data.addOne">+1</span>
            </li>
        </ul>
        <div class="total">
            Total: <span data-bind="text: totalPrice"></span>
        </div>
        <button data-bind="click: $root.submitOrder">Submit your order</button>
    </div>
</div>


{% endblock %}