{% extends 'LTDeliveryBundle::layout.html.twig' %}

{% block body %}
{% raw %}
<script type="text/x-handlebars">

{{#view App.MenuView}}
    {{#each items}}
        <li>{{title}}</li>
    {{/each}}
{{/view}}

</script>
{% endraw %}
{% endblock %}