{% extends 'LTDeliveryBundle::layout.html.twig' %}

{% block body %}

<ul data-bind="foreach: menus">
    <li>
        <span data-bind="text: title"></span>
        <span style="color: #ccc" data-bind="text: new Date()"></span>
    </li>
</ul>
<button data-bind="click: reloadMenus">Reload</button>

{% endblock %}