{% raw %}
{{#view App.OrderView id="active-order"}}
    {{#with order }}
    <h1>{{menu.dueDateString}}</h1>
    <ul>
        {{#each items}}
        <li>
            {{id}} - {{menuItem.title}}
        </li>
        {{/each}}
    </ul>
    {{/with}}
{{/view}}
{% endraw %}