{% raw %}
{{#view App.OrderView id="active-order"}}
    {{#with order }}
    <ul>
        {{#each items}}
        <li>
            {{id}}
        </li>
        {{/each}}
    </ul>
    {{/with}}
{{/view}}
{% endraw %}